

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background-color: rgba(128, 128, 128, 0.199); */
    /* background-color:#fff; */
    background-color: rgba(128, 128, 128, 0.219);
    
    
}


nav{
    width: 100%;
    height: 50px;
    position:  sticky; top: 0;
    line-height: 50px;
    padding: 0px 90px;
    /* background-color: rgb(224, 145, 159); */
    background-color: rgb(230, 129, 146);
    
}

nav .brand{
    font-size: 30px;
    font-weight: bold;
    float: left;
    color: #fff;
    letter-spacing: 1.5px;
    cursor: pointer;
    
}

nav ul{

    float: right;
    
}

nav li{
    display: inline-block;
    list-style: none;

}

nav li a{
    font-size: 16px;
    font-weight: 1px;
  font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    padding: 0px 20px;
    color: #fff;
   


}

nav li a:hover{
    color: blue;
    transition: all 0.4s ease 0s;
}

.container{
    
    width: 80%;
    min-height: 140vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.274),rgba(0, 0, 0, 0.26)),url(girl-1990347_1280.jpg);
    margin: 23px auto;
    border-radius: 20px;
    align-items: center;
    color: #fff;
    box-shadow: 2px pink;
    padding: 10px;
    
}
.songlist{   
    float: right;
}

.bottom{
    position:  sticky; bottom: 0;
    height: 65px;
    /* background-color:rgb(250, 141, 159); */
     background-color: rgb(228, 96, 118);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}
.icons{
    margin-top: 10px;
}

.icons i{
    cursor: pointer;
    

}

#myProgressBar{
    width: 80vw;
    height: 5px;
    cursor: pointer;
    
}

.songItem{
    height: 40px;
    display: flex;
    background-color: #fff;
    /* width: 82%; */
    color: black;
    margin: 12px 0;
    
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;

}

.songItem img{
    width: 35px;
    margin: 0 23px 0;
    border-radius: 34px;
}
.timestamp{
    margin: 0 23px;

}
.timestamp i{
    cursor: pointer;

}

.songItemc{
    margin-top: 30px;
}

.songinfo{
    position: absolute;
    left: 10vw;
    font-family: sans-serif;
}

/* .songinfo img{
    opacity: 0;
    transition: opacity is ease-in;
}
 */


